@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
html {
  background-color:pink;
  padding-left: 20px;
}
img{
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  
}

h3{
   font-family: "Comic Relief", system-ui;
}


